<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body>

  <div class="modal-with-form" id="modal_with_form">
    <div class="modal-with-form__wrapper">
      <button class="modal-with-form__close follow-change base-button" id="modal_with_form_close">
        <svg class="modal-with-form__close-icon" width="20" height="20" alt="#">
          <use href="img/icon/sprite.svg#modal-close-icon"></use>
        </svg>
      </button>
      <div class="modal-with-form__inner">
        <form class="modal-with-form__formset" id="modal_with_form_formset">
        </form>
      </div>
      <div class="modal-with-form__success">
        <span class="modal-with-form__success-text">Спасибо, ваша заявка отправлена</span>
      </div>
    </div>
  </div>

  <div class="modal-without-form" id="modal_without_form">
    <div class="modal-with-form__wrapper">
      <button class="modal-with-form__close follow-change base-button" id="modal_without_form_close">
        <svg class="modal-with-form__close-icon" width="20" height="20" alt="#">
          <use href="img/icon/sprite.svg#modal-close-icon"></use>
        </svg>
      </button>
      <div class="modal-with-form__success">
        <span class="modal-with-form__success-text">Спасибо, ваша заявка отправлена</span>
      </div>
    </div>
  </div>

  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__container base-container">
        <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">
          <ul class="main-nav__nav-list base-list">
            <li class="main-nav__nav-item">
              <span class="main-nav__nav-item-text">Сделать первый заказ</span>
              <a class="main-nav__nav-item-link base-link" href="tel:+7 (926) 642-22-34">+7 (926) 642-22-34</a>
            </li>
            <li class="main-nav__nav-item">
              <span class="main-nav__nav-item-text">Корпоративные клиенты</span>
              <a class="main-nav__nav-item-link base-link" href="tel:+7 (495) 118-22-34">+7 (495) 118-22-34</a>
            </li>
            <li class="main-nav__nav-item main-nav__socials">
              <a class="main-nav__socials-item base-link" href="#">
                <figure class="main-nav__socials-item-image base-figure">
                  <img class="main-nav__socials-item-img" src="img/image/socials1.png" width="27" height="24" alt="Telegram">
                </figure>
                <span class="main-nav__socials-item-text">Telegram</span>
              </a>
              <a class="main-nav__socials-item base-link" href="#">
                <figure class="main-nav__socials-item-image base-figure">
                  <img class="main-nav__socials-item-img" src="img/image/socials2.png" width="24" height="24" alt="WhatsApp">
                </figure>
                <span class="main-nav__socials-item-text">WhatsApp</span>
              </a>
            </li>
          </ul>

          <figure class="main-nav__logo-image base-figure">
            <img class="main-nav__logo-img" src="img/image/logo2.png" width="130" height="75" alt="Лого">
            <img class="main-nav__logo-graphic" src="img/image/nav-graphic.png" width="260" height="47" aria-hidden="true">
          </figure>

          <a class="main-nav__location-link base-link" href="#">
            <figure class="main-nav__location-link-image base-figure">
              <img class="main-nav__logo-img" src="img/image/location.png" width="13" height="20" alt="Локация">
            </figure>
            <span class="main-nav__location-link-text">Москва, Рождественский бульвар, 9c1, офис 114</span>
          </a>
        </div>
        <button class="main-nav__burger base-button" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>
      </div>
    </nav>
  </header>