<footer class="page-footer">
  <section class="footer">
    <div class="footer__container base-container">
      <span class="footer__copyright">© 2004 - <span class="current-year"></span> YoYou</span>
      <a class="footer__policy base-link" href="#">Политика конфиденциальности</a>
      <a class="footer__isart base-link" href="#">
        <span class="footer__isart-text">Разработано</span>
        <svg class="footer__isart-icon" width="52" height="22" aria-hidden="true">
          <use href="img/icon/sprite.svg#isart-icon"></use>
        </svg>
      </a>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>

</body>

</html>