.base-container {
	width: 90%;

	margin: 0 auto;
}

@media(min-width: '1670px') {
	.base-container {
		width: 100%;
		max-width: 1670px;
	}
}

// @media only screen and (min-device-width: 1300px) and (max-device-width: 1365px) {
// 	.base-container {
// 		padding: 0 1% 0 1%;
// 	}
// }