@use "../mixins";

.feedback {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 270px;
  background: url('../img/image/feedback-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include mixins.respond-to(notDesktop) {
    padding: 40px 5%;
  }

  &__image {
    position: absolute;
    left: 140px;
    bottom: 0;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    transform: translate(190px, -10px);

    @include mixins.respond-to(notDesktop) {
      transform: translate(0, 0);
    }
  }

  &__info-title {
    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    color: var(--color-white);

    margin: 0 0 35px 0;
  }

  &__info-form {
    position: relative;

    display: flex;

    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 1px;
      background-color: var(--color-white);
    }

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;

      &::after {
        display: none;
      }
    }
  }

  &__info-form-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: var(--color-white);

    padding: 0 10px 0 0;

    @include mixins.respond-to(notDesktop) {
      width: 100%;

      border-bottom: 1px solid var(--color-white);

      margin: 0 0 30px 0;
    }
  }

  &__info-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-white);
    cursor: pointer;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: var(--color-white);

    transition: background-color 0.3s, color 0.3s;

    padding: 20px;

    &:hover {
      background-color: var(--color-white);

      color: #c93341;

      transition: background-color 0.3s, color 0.3s;
    }
  }
}