@use "../mixins";

.feedback3 {
  position: relative;

  height: 1px;
  min-height: 600px;

  @include mixins.respond-to(notDesktop) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      opacity: 0.3;

      z-index: 1;
    }

  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;

    padding: 60px 0 0 0;

    @include mixins.respond-to(notDesktop) {
      justify-content: center;

      padding: 0;
    }
  }

  &__logo-image {
    margin: 0 0 70px 0;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 160px;
        height: 160px;
        background-color: var(--color-white);
        opacity: 0.7;
        border-radius: 50%;

        transform: translate(-50%, -50%);

        z-index: -1;
      }
    }
  }

  &__title {
    display: inline-block;

    max-width: 560px;

    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 96px;
    line-height: 70%;
    color: var(--color-black);
    text-align: center;

    margin: 0 0 40px 0;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      max-width: 360px;

      font-size: 50px;
      color: var(--color-white);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 70px;
    border: 3px solid #c93341;
    box-sizing: border-box;
    cursor: pointer;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;

    transition: background-color 0.1s, color 0.1s;

    padding: 20px 40px;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
      max-width: 350px;
      background-color: rgba($color: #000000, $alpha: 0.3);

      color: var(--color-white);
    }

    &:hover {
      background-color: #c93341;

      color: var(--color-white);

      transition: background-color 0.1s, color 0.1s;
    }
  }
}