@use "../mixins";

.feedback {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 270px;
  background: url('../img/image/feedback-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include mixins.respond-to(notDesktop) {
    padding: 40px 5%;
  }

  &__image {
    position: absolute;
    left: 100px;
    bottom: 0;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-width: 1599px) {
    &__image {
      left: 5%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    transform: translate(190px, -10px);

    @include mixins.respond-to(notDesktop) {
      transform: translate(0, 0);
    }
  }

  &__info-title {
    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    color: var(--color-white);

    margin: 0 0 35px 0;
  }

  &__info-form {
    position: relative;

    display: flex;

    overflow: visible;

    &::after {
      content: "";
      position: absolute;
      left: -5px;
      bottom: 0;

      width: 100%;
      height: 1px;
      background-color: var(--color-white);
    }

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      &::after {
        display: none;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      &::after {
        left: -20px;
      }
    }
  }

  &__info-form-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: var(--color-white);

    padding: 0 10px 0 0;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      border-bottom: 1px solid var(--color-white);

      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      border-bottom: 1px solid var(--color-white);

      padding: 0 20px 0 0;
    }
  }

  &__info-form-submit {
    position: relative;
    right: -13px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #c93341;

    transform: skewX(-20deg);
    transition: background-color 0.3s, color 0.3s;

    padding: 14px 20px;

    &:hover {
      background-color: transparent;

      color: var(--color-white);

      transition: background-color 0.3s, color 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      right: 0;

      width: 100%;
      max-width: 100%;

      transform: none;
    }

    @include mixins.respond-to(tabletOnly) {
      right: 0;

      width: 100%;
      max-width: 250px;
    }
  }

  &__info-form-submit-text {
    transform: skewX(20deg);

    @include mixins.respond-to(mobileOnly) {
      transform: none;
    }
  }
}