@use "../mixins";

.gallery {
  padding: 20px 20px;

  &__slider {
    width: 100%;
    max-width: 100%;
  }

  &__slider-wrapper {
    padding: 0 0 40px 0;
  }

  @media (min-width: 1920px) {
    &__slider-wrapper {
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      box-sizing: border-box;

      padding: 0;
    }
  }

  &__slider-slide {
    width: 290px;
    box-sizing: border-box;

    transition: width 0.6s;

    @include mixins.respond-to(notDesktop) {
      width: 70%;
    }

    @include mixins.respond-to(desktopS) {
      &:hover {
        width: 350px;

        transition: width 0.6s;
      }
    }
  }

  &__slider-slide-image {
    width: 100%;
    height: auto;
    max-height: 750px;
  }

  &__slider-slide-img {
    width: 100%;
    height: auto;
    max-height: 750px;
  }

  &__slider-pagination {
    top: auto !important;
    bottom: 0 !important;

    height: 10px !important;

    & .swiper-pagination-progressbar-fill {
      background-color: #a6162d !important;
    }
  }
}