@use "../mixins";

.heading {
  position: relative;

  height: 1px;
  min-height: 810px;
  overflow: hidden;

  @include mixins.respond-to(notDesktop) {
    height: auto;
    min-height: auto;
  }

  // @media (min-width:320px) and (max-width:1599px) {
  //   height: auto;
  //   min-height: auto;
  // }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;

    padding: 160px 0 0 0;

    z-index: 1;

    @include mixins.respond-to(notDesktop) {
      padding: 85px 0;
    }
  }

  @media (min-width:320px) and (max-width: 1365px) {
    &__container {
      &::before {
        content: "";
        position: absolute;
        left: -6%;
        top: 0;

        width: 120%;
        height: 100%;
        background-color: black;
        opacity: 0.3;

        z-index: 1;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      gap: 20px;

      margin: 0 0 40px 0;
    }
  }

  &__info-title {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 104px;
    line-height: 130%;
    color: var(--color-white);

    @include mixins.respond-to(notDesktop) {
      font-size: 47px;
      line-height: 80%;
    }
  }

  &__info-text {
    display: inline-block;

    max-width: 575px;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    color: #b8cfec;

    @include mixins.respond-to(notDesktop) {
      font-size: 20px;
    }
  }

  &__graphic {
    position: absolute;
    left: 333px;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 27px;

    z-index: 2;

    @include mixins.respond-to(notDesktop) {
      position: relative;
      left: auto;
      bottom: auto;
    }
  }

  @media (min-width: 1024px) and (max-width: 1599px) {
    &__graphic {
      left: 22%;
    }
  }

  &__graphic-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &:nth-child(2) {
      position: relative;
      top: -25px;
      left: 110px;
    }

    &:nth-child(3) {
      position: relative;
      top: -15px;
      left: 200px;
    }

    &:nth-child(4) {
      position: relative;
      top: -15px;
      left: 165px;
    }

    @include mixins.respond-to(notDesktop) {
      &:nth-child(1) {
        top: auto;
        left: auto;
      }

      &:nth-child(2) {
        top: auto;
        left: auto;
      }

      &:nth-child(3) {
        top: auto;
        left: auto;
      }

      &:nth-child(4) {
        top: auto;
        left: auto;
      }
    }
  }

  &__graphic-item-text {
    display: inline-block;

    max-width: 390px;

    font-family: var(--font-family-default);
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-white);
  }

}