@use "../mixins";

// Анимации для бургера
@keyframes burger_before_default {
  from {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg)
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    top: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@keyframes burger_before {
  from {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    top: 0;
    left: 50%;
    background-color: #FFFFFF;
    transform: translateX(-50%) rotate(45deg);
  }
}

@keyframes burger_after_default {
  from {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg)
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@keyframes burger_after {
  from {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    bottom: 0;
    left: 50%;
    background-color: #FFFFFF;
    transform: translateX(-50%) rotate(-45deg);
  }
}

// Стили
.main-nav {
  width: 100%;
  height: fit-content;

  margin: 30px 0;

  z-index: 10;

  @include mixins.respond-to(notDesktop) {
    margin: 10px 0 0 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;

    @include mixins.respond-to(notDesktop) {
      justify-content: space-between;

      padding: 0 5px;
    }
  }

  &__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 50px;

    @include mixins.respond-to(onlyDesktopS) {
      margin: 0;
    }
  }

  &__nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__nav-item-text {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--color-black);
  }

  &__nav-item-link {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-black);
  }

  &__logo-image {
    position: relative;
    top: 1px;
  }

  &__logo-graphic {
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translateX(-50%);
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__socials-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__socials-item-text {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #96172f;
  }

  &__location-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__location-link-text {
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-black);
  }

  &__nav-menu--mobile {
    @include mixins.respond-to(notDesktop) {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100%;
      height: calc(100vh);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      transform: translateX(-100%);
      transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);

      padding: 10px 5%;

      z-index: 15;
    }
  }

  &__nav-menu--mobile--active {
    transform: translateX(0);
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__burger {
    display: none;
    align-items: center;
    justify-content: flex-start;

    width: 28px;
    height: 20px;
    outline: none;
    border: none;

    z-index: 20;

    @include mixins.respond-to(notDesktop) {
      display: flex;
    }
  }

  &__burger-line {
    position: relative;

    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;

    transition: background-color 0.1s;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 3px;
      background-color: black;
      border-radius: 5px;

      animation-duration: 0.4s;
      animation-name: burger_before_default;
      animation-fill-mode: forwards;

      transition: all 0.4s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 3px;
      background-color: black;
      border-radius: 5px;

      animation-duration: 0.4s;
      animation-name: burger_after_default;
      animation-fill-mode: forwards;

      transition: all 0.4s;
    }
  }

  &__burger--active .main-nav__burger-line::before {
    animation-duration: 0.4s;
    animation-name: burger_before;
    animation-fill-mode: forwards
  }

  &__burger--active .main-nav__burger-line::after {
    animation-duration: 0.4s;
    animation-name: burger_after;
    animation-fill-mode: forwards;

    transition: all 0.4s
  }

  &__burger--active .main-nav__burger-line {
    background-color: transparent;

    transition-delay: 0.4s;
    transition: background-color 0.1s
  }
}