@use "../mixins";

.tabs {
  background-color: #f2f2f2;

  padding: 60px 0 70px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 60px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  @media (min-width: 320px) and (max-width: 1279px) {
    &__container {
      gap: 1px;

      width: 100%;

      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  @media (min-width: 320px) and (max-width: 1279px) {
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1px;

      width: 100%;
      max-height: 100%;
    }
  }

  &__buttons-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    width: 395px;
    height: 395px;
    background: url('../img/image/tab-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;

    transform-style: preserve-3d;

    &:hover {
      & .tabs__button-item-img {
        transform: scale(1.1);
        transition: transform 0.2s;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 50%;

      width: 98%;
      height: 4px;
      background-color: #b32d3d;

      transform: translateX(-50%) translateZ(-1px);
      transition: transform 0.2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 20%;
      background-color: var(--color-white);

      transition: top 0.1s;

      z-index: -1;
    }

    &--active {
      &::before {
        transform: translateX(-50%) translateZ(1px);

        transition: transform 0.2s;
      }

      &::after {
        top: 99%;
        bottom: auto;

        transition: top 0.1s;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 399px) {
    &__buttons-item {
      width: 79px;
    }
  }

  @media (min-width: 400px) and (max-width: 499px) {
    &__buttons-item {
      width: 99px;
    }
  }

  @media (min-width: 500px) and (max-width: 767px) {
    &__buttons-item {
      width: 129px;
    }
  }

  @media (min-width: 320px) and (max-width: 1023px) {
    &__buttons-item {
      min-height: 330px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &__buttons-item {
      min-height: 390px;
    }
  }


  @media (min-width: 320px) and (max-width: 1279px) {
    &__buttons-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      height: auto;
      background: none;
      background-color: var(--color-white);

      padding: 20px 5px;

      &::before {
        display: none;

        width: 1px;
        height: 1px;
        border: 0;
        overflow: hidden;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);

        white-space: nowrap;

        padding: 0;
        margin: -1px;
      }

      &::after {
        display: none;

        width: 1px;
        height: 1px;
        border: 0;
        overflow: hidden;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);

        white-space: nowrap;

        padding: 0;
        margin: -1px;
      }

      & .tabs__button-item-image {
        order: 2;

        margin: auto 0 0 0;
      }

      & .tabs__button-item-text {
        order: 1;

        transform: rotate(-90deg) translateX(-50%);

        margin: 0 0 0 10px;
      }

      &:hover {
        & .tabs__button-item-img {
          transform: none;
        }
      }

      &--active {
        background-color: #b32d3d;

        transition: background-color 0.2s;

        & .tabs__button-item-img {
          filter: grayscale(1);

          transition: filter 0.2s;
        }

        & .tabs__button-item-text {
          color: var(--color-white);

          transition: color 0.2s;
        }
      }
    }
  }

  &__button-item-img {
    transition: transform 0.2s;

    @include mixins.respond-to(tabletOnly) {
      width: 100px;
      height: auto;
    }
  }

  @media (min-width: 320px) and (max-width: 449px) {
    &__button-item-img {
      width: 50px;
      height: auto;
    }
  }

  @media (min-width: 450px) and (max-width: 599px) {
    &__button-item-img {
      width: 70px;
      height: auto;
    }
  }

  @media (min-width: 600px) and (max-width: 767px) {
    &__button-item-img {
      width: 80px;
      height: auto;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &__button-item-img {
      width: 150px;
      height: auto;
    }
  }

  &__button-item-text {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-black);
    text-transform: uppercase;

    transition: color 0.2s;

    @include mixins.respond-to(notDesktop) {
      font-size: 18px;
      line-height: 80%;
      text-align: center;
      white-space: nowrap;
    }

    @include mixins.respond-to(onlyDesktopS) {
      font-size: 18px;
      line-height: 80%;
      text-align: center;
    }
  }

  &__content-slider-container {
    position: relative;

    display: none;

    width: 100%;
    height: fit-content;
    background-color: var(--color-white);

    padding: 0 0 35px 0;

    &--active {
      display: block;
    }
  }

  &__content-item-slider {
    width: 100%;
  }

  @media (min-width: 320px) and (max-width: 1279px) {
    &__content-item-slider {
      width: 90%;
    }
  }

  &__content-slider-wrapper {
    padding: 0 0 6px 0;
  }

  &__content-slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 300px;
    height: auto;
    min-height: 360px;
    background-color: var(--color-white);
    box-sizing: border-box;

    padding: 40px 0 0 0;

    @include mixins.respond-to(notDesktop) {
      width: auto !important;
    }
  }

  @media (min-width: 320px) and (max-width: 1279px) {
    &__content-slider-slide {
      min-height: 200px;

      padding: 20px 0;
    }
  }

  &__slider-slide-img {
    display: block;

    width: 200px;
    height: 160px;
    object-fit: cover;
  }

  &__slider-slide-text {
    display: inline-block;

    max-width: 180px;

    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
  }

  &__content-slider-pagination {
    top: auto !important;
    bottom: 0 !important;

    height: 10px !important;

    & .swiper-pagination-progressbar-fill {
      background-color: #a6162d !important;
    }
  }

  &__content-slider-arrows {
    position: absolute;
    bottom: 150px;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% + 86px);
    height: fit-content;
    user-select: none;
    pointer-events: none;

    transform: translateX(-50%);

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &__content-slider-arrows {
      top: 50%;
      bottom: auto;

      width: 100%;

      transform: translate(-50%, -50%);

      z-index: 10;
    }
  }

  &__slider-arrow {
    cursor: pointer;
    user-select: all;
    pointer-events: all;

    transition: transform 0.2s;

    &:hover {
      transform: scaleY(1.2);
      transition: transform 0.2s;
    }
  }
}