@use "../mixins";

.tabs {
  background-color: #f2f2f2;

  padding: 60px 0 70px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__buttons-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    width: 395px;
    height: 395px;
    background: url('../img/image/tab-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    transform-style: preserve-3d;

    &:hover {
      & .tabs__button-item-img {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 50%;

      width: 98%;
      height: 4px;
      background-color: #b32d3d;

      transform: translateX(-50%) translateZ(-1px);
      transition: transform 0.3s;
    }

    &--active {
      &::before {
        transform: translateX(-50%) translateZ(1px);

        transition: transform 0.3s;
      }
    }
  }

  &__button-item-img {
    transition: transform 0.3s;
  }

  &__button-item-text {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-black);
    text-transform: uppercase;
  }

  &__content-slider-container {
    position: relative;

    display: none;

    width: 100%;
    height: fit-content;
    background-color: var(--color-white);

    padding: 0 0 35px 0;

    &--active {
      display: block;
    }
  }

  &__content-item-slider {
    width: 100%;
  }

  &__content-slider-wrapper {
    padding: 0 0 60px 0;
  }

  &__content-slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: auto;
    min-height: 360px;
    background-color: var(--color-white);

    padding: 40px 0 0 0;
  }

  &__slider-slide-text {
    display: inline-block;

    max-width: 180px;

    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
  }

  &__content-slider-pagination {
    top: auto !important;
    bottom: 0 !important;

    height: 5px !important;

    & .swiper-pagination-progressbar-fill {
      background-color: #a6162d !important;
    }
  }

  &__content-slider-arrows {
    position: absolute;
    bottom: 115px;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% + 86px);
    height: fit-content;
    user-select: none;
    pointer-events: none;

    transform: translateX(-50%);
  }

  &__slider-arrow {
    cursor: pointer;
    user-select: all;
    pointer-events: all;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
}