@use "../mixins";

html {
	-webkit-tap-highlight-color: transparent;
	scrollbar-gutter: stable;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;

	font-family: var(--font-family-default);
	color: var(--color-black);

	padding: 0 !important;
	margin: 0 !important;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: rgba($color: #000000, $alpha: 0);
		user-select: none;
		pointer-events: none;

		transition: background-color 0.3s;

		z-index: 10;
	}
}

.body-cover {
	&::before {
		background-color: rgba($color: #000000, $alpha: 0.5);

		transition: background-color 0.3s;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-white);
	opacity: 0.5;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-white);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-white);
}