:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;

	// Шрифты
	--font-family-default: 'Candara', system-ui, sans-serif;
	--font-family-second: 'Palatino', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}